* {
    /* Sets universal selector */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    /* Sets selector header content element */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

body {
    /* Sets selector body background color */
    background-color: #d9dcd6;
}

header h1 {
    /* Sets selector header h1 text font size and box display element */
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    /* Sets selector header h1 seo text color element */
    color: #d9dcd6;
}

nav {
    /* Sets selector header nav section content element */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav a {
    /* Sets header nav a box and margin element */
    display: inline-block;
    margin-left: 25px;
}

a {
    /* Sets selector hyperlink text color element */
    color: #ffffff;
    text-decoration: none;
}

.search-engine-optimization {
    /* Sets selector search engine optimization box and content element */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    /* Sets selector online reputation managment box and content element */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    /* Sets selector social media marketing box and content element */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.hero {
    /* Sets selector class hero img content element */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

main {
    /* Sets selector class content box width and margin element */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.search-engine-optimization img {
    /* Sets selector search engine optimization image max height element */
    max-height: 200px;
}

.float-left {
    /* Sets selector search engine optimization image content float left element */
    float: left;
    margin-right: 25px;
}
.search-engine-optimization h2 {
    /* Sets selector header search engine optimization header trxt margin and font size element */
    margin-bottom: 20px;
    font-size: 36px;
}

p {
    /* Sets selector paragraph font size element */
    font-size: 16px;
}

.online-reputation-management img {
    /* Sets selector online reputation managment image max height element */
    max-height: 200px;
}

.float-right {
    /* Sets selector online reputation managment image content float left element */
    float: right;
    margin-left: 25px;
}

.online-reputation-management h2 {
    /* Sets selector header online reputation managment header text margin and font size element */
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing img {
    /* Sets selector header social media marketing image max height element */
    max-height: 200px;
}

.social-media-marketing h2 {
    /* Sets selector header social media marketing header text margin and font size element */
    margin-bottom: 20px;
    font-size: 36px;
}

aside {
    /* Sets selector div class benefits section content element */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    /* Sets selector div class benefits lead text margin and color element */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    /* Sets selector div class benefits lead header margin and alignment element */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    /* Sets selector benefit lead img content element */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand {
    /* Sets selector benefit brand text margin and color element */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand h3 {
    /* Sets selector benefit brand header text margin and alignment element */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand img {
    /* Sets selector benefit brand img content element */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost {
    /* Sets selector div class benefit cost text margin and color element */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost h3 {
    /* Sets div class benefit cost header text margin and alignment element */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost img {
    /* Sets selector benefit cost img content element */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    /* Sets selector footer content element */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    /* Sets selector element footer header font size element */
    font-size: 20px;
}